* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #1A2A33;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
    background-color: #1A2A33;
    height: 100vh;
    width: 100vw;
}

.square {
    height: 65px;
    width: 65px;
    margin: 7px;
    border-radius: 10px;
    background-color: #1f3641;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 5px
   

}

.board-row {
     display: flex;
     align-items: center;
}